body{
    background: rgb(184, 218, 184);
}

.wrapper{
    width: 30%;
    /* border: 2px solid red; */
    margin: 200px     auto;
    position: relative;
}

.face-line1::before{
    content: '';
    display: block;
    height: 40px;
    width: 200px;
    background-color: black;
    border-radius: 40px 40px 0 0;
}
.face-line1{
    width: 200px;
    height: 150px;
    background-color: yellow;
    border-radius: 48% 52% 52% 48% / 43% 45% 55% 57% ;
    position: absolute;
    top: 20px;
    left: 25%;
}
.face-line2{
    width: 250px;
    height: 80px;
    background-color: yellow;
    border-radius: 60px;
    position: absolute;
    top: 70px;
    left: 20%;
}
.cheek-left{
    width: 50px;
    height: 50px;
    border-radius: 60% 40% 52% 48% / 36% 44% 56% 64% ;
    background-color: salmon;
    opacity: 0.5;
    position: absolute;
    top: 90px;
    left: 120px;
    z-index: 99;
}
.cheek-right{
    width: 50px;
    height: 50px;
    border-radius: 60% 40% 52% 48% / 36% 44% 56% 64% ;
    background-color: salmon;
    opacity: 0.5;
    position: absolute;
    top: 90px;
    right: 100px;
    z-index: 99;
}
.face-inside{
    position: absolute;
    top: 70px;
    left: 130px;
    width: 150px;
    height: 90px;
    /* background: red; */
}
.eyebrow-left{
    border-top: 10px solid black;
    border-radius: 20px 26px 0 0 ;
    width: 25px;
    height: 10px;
    position: absolute;
    top:0;
    left: 40px;
    z-index: 999;
}
.eyebrow-right{
    border-top: 10px solid black;
    border-radius: 25px 20px 0 0 ;
    width: 25px;
    height: 10px;
    position: absolute;
    top:0;
    right: 20px;
    z-index: 999;
}
.eye-left{
    background-color:black;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 30px;
    left: 50px;
}
.eye-right{
    background-color:black;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.mouth{
    width: 20px;
    height: 15px;
    background: red;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 30px;
    left: 80px;
}
.mouth-lip{
    width: 20px;
    height: 15px;
    background: red;
    border-radius: 0px 0px 30px 30px;
    position: absolute;
    bottom: 10px;
    left: 80px;
}
   
.hair{
    width: 300px;
    height: 200px;
    background-color: black;
    border-radius: 48% 52% 55% 45% / 75% 76% 24% 25% ;
    position: absolute;
    top: 0;
    left: 13%;
    z-index: -1;
}
.icon {
    position: absolute;
    top: 0;
    left: 20%;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.icon img{
    width: 50px;
    
}

@keyframes move {
    0%   {  left: 0px;   top: 0px; }
      25%  {  left: 200px; top: 0px; }
      50%  {  left: 200px; top: 100px; }
      75%  {  left: 0px;   top: 100px; }
      100% {  left: 0px;   top: 0px; }
  }

